.header {
  background-color: var(--clr-bg2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--clr-primary-h);
  padding: 0.8rem;
  cursor: pointer;
  white-space: nowrap;
}

.nav {
  display: none;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  gap: 0.5rem;
}

.link {
  background-color: var(--clr-primary);
  padding: 0.7rem 1rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  border-radius: 0.5rem;
}
.link:hover,
.link:focus {
  background-color: var(--clr-primary-h);
  color: black;
  outline: none;
}

.sidebarButton {
  border: none;
  background-color: transparent;
  color: var(--clr-primary-h);
  font-size: 1.5rem;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}
.sidebarButton:hover,
.sidebarButton:focus {
  outline: none;
  color: white;
}

@media (min-width: 700px) {
  .header {
    background-color: var(--clr-bg2);
  }

  .nav {
    display: flex;
    justify-content: flex-end;
  }

  .sidebarButton {
    display: none;
  }
}
