.title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  background-color: var(--clr-primary);
  color: white;
  font-weight: 700;
  border-radius: 3rem;
  width: max-content;
}
