.button {
  background: none;
  border-radius: 100%;
  color: var(--clr-primary);
  border: none;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.button:hover {
  color: var(--clr-primary-h);
}
.button:focus {
  color: var(--clr-primary-h);
  outline: none;
}
