.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-bg2);
  margin: 1rem auto;
  border-radius: 0.5rem;
  width: var(--container-width);
}

.heading {
  font-size: var(--heading-font-size);
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem;
}

.emptyListText {
  padding: 1rem;
  color: var(--clr-subtext);
  font-weight: bold;
}
