.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-bg2);
  margin: 1rem auto;
  border-radius: 0.5rem;
  width: var(--container-width);
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 20.8rem;
  padding-right: 0.5rem;
  border: 0.5rem solid var(--clr-bg2);
  border-radius: 0.5rem;
}

.sectionHeader {
  border-bottom: 0.15rem solid white;
  width: 100%;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.heading {
  font-size: var(--heading-font-size);
  text-align: center;
}

.searchForm {
  width: 80%;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.searchInput {
  width: 100%;
  padding: 0.3rem 0.6rem;
  border: none;
  height: 1.8rem;
  background-color: var(--clr-bg1);
  color: white;
}
.searchInput:focus {
  background-color: white;
  color: black;
  outline: none;
}

.searchButton {
  border: none;
  background-color: var(--clr-primary);
  color: var(--clr-text);
  cursor: pointer;
  width: 2.5rem;
  font-size: 1.1rem;
}
.searchButton:hover,
.searchButton:focus {
  background-color: var(--clr-primary-h);
  color: black;
  outline: none;
}

.loadingDiv {
  height: 20.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loadingIcon {
  font-size: 3rem;
  animation: loadingSpin 1s linear 0s infinite forwards;
}

.noSearchText {
  padding: 1rem;
  color: var(--clr-subtext);
  font-weight: bold;
}

@keyframes loadingSpin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
