.createNewList {
  display: flex;
  flex-direction: row;
  padding: 0.6rem 0.8rem;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  gap: 0.3rem;
  background-color: var(--clr-primary);
  color: var(--clr-text);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  width: max-content;
}
.createNewList:hover,
.createNewList:focus {
  outline: none;
  background-color: var(--clr-primary-h);
  color: black;
}

.tmdb {
  width: var(--container-width);
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  line-height: 1.2rem;
}

.tmdbImg {
  width: 7rem;
}

.link {
  color: var(--clr-primary-h);
  text-decoration: underline;
}
