.heading {
  font-size: var(--heading-font-size);
}

.form {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  max-width: 22rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}

.labelText {
  display: flex;
  justify-content: space-between;
}

.invalid {
  color: rgb(221, 84, 84);
}

.input {
  background-color: var(--clr-bg1);
  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem 0.5rem;
  color: white;
}

.buttons {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.button {
  width: 100%;
}

.requirementsText {
  background-color: var(--clr-bg2);
  width: var(--container-width);
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
